# Lab 1 | Web Scraping Single Page

In [1]:
from bs4 import BeautifulSoup
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

In [3]:
response = requests.get(url)

In [4]:
response.status_code

200

In [5]:
len(response.content)

366287

In [6]:
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
soup

In [ ]:
soup.select("p.title-artist")

In [12]:
soup.select("p.title-artist")[0].get_text()

'About Damn TimeLizzo'

In [15]:
soup.select("p.title-artist cite.title")[0].get_text()

'About Damn Time'

In [16]:
soup.select("p.title-artist em.artist")[0].get_text()

'Lizzo'

In [20]:
#initialize empty lists
song = []
artist = []


# define the number of iterations of our for loop
# by checking how many elements are in the retrieved result set
# (this is equivalent but more robust than just explicitly defining 250 iterations)
num_iter = len(soup.select("p.title-artist"))

tClist = soup.select("p.title-artist cite.title")
citelist = soup.select("p.title-artist em.artist")
# iterate through the result set and retrive all the data
for i in range(num_iter):
    song.append(tClist[i].get_text())
    artist.append(citelist[i].get_text())


print(song)
print(artist)

['About Damn Time', 'Running Up That Hill (A Deal with God)', "Y'all Life", 'Names', 'BREAK MY SOUL', 'As It Was', 'The Kind of Love We Make', 'She Had Me At Heads Carolina', 'Unstoppable', 'About Damn Time', 'Quietly Yours', "I Ain't Worried", 'Wasted On You', 'Rock and A Hard Place', 'Irrelevant', 'Good as Hell', 'Arson', 'Party In the U.S.A.', 'Master of Puppets', 'Like I Love Country Music', 'Left and Right', 'Sunroof', 'You Proof', 'Hold My Hand', 'Stay With Me', 'AA', 'First Class', 'Hey You', 'Love Shack', 'I Like You (A Happier Song) [feat. Doja Cat]', 'Son Of A Sinner', 'Call Me Maybe', 'Poker Face', 'Fancy Like', '= (Equal Sign)', 'Hot Shit', 'Glimpse of Us', 'Big Energy (Remix) [feat. DJ Khaled]', "'Til You Can't", 'Don’t Come Lookin’', 'Fall In Love', 'Never Gonna Give You Up', "Can't Stop Us Now", 'Cold Heart (PNAU Remix)', 'Numb', '5 Foot 9', 'Tennessee Whiskey', "Pandora's Box", 'Lights (Single Version)', 'Late Night Talking', 'Safety Zone', 'Future', 'Special', 'What If…', 'Dark Horse (feat. Juicy J)', 'Damn Strait', 'Vegas', 'Just the Way You Are (feat. Lupe Fiasco) [Remix] [Bonus Track]', 'Sweet Caroline', 'STOP', 'Everybody Wants to Rule the World', "I'm Yours", "Sweet Child O' Mine", "When You're Gone", 'Roar', 'Music Box : Reflection', '7 Years', 'You', 'Dancing Queen', 'Grenade', 'Shivers', 'Separate Ways (Worlds Apart) [Steve Perry & Bryce Miller Extended Remix]', 'Joy of My Life', 'The Motto', "Something in the Orange (Z&E's Version)", 'Tití Me Preguntó', 'Love Me More', 'Victoria’s Secret', 'Intro', 'W.I.T.C.H.', 'Hold On', 'She Likes It (feat. Jake Scott)', 'Kings & Queens', 'Sand In My Boots', 'Hot n Cold', 'Wild Palomino', 'When I Was Your Man', 'Danger Zone', 'Take My Name', 'Running up That Hill (A Deal with God)', 'Vegas (From the Original Motion Picture Soundtrack ELVIS)', 'Heat Waves', 'Numb Little Bug', 'Levitating (feat. DaBaby)', 'Big Energy', 'Soul', 'abcdefu (feat. Royal & the Serpent)', 'Carolina (From The Motion Picture “Where The Crawdads Sing”)', 'Buy Dirt (feat. Luke Bryan)', 'Hold My Hand (Music From The Motion Picture "Top Gun: Maverick")']
['Lizzo', 'Kate Bush', 'Walker Hayes', 'Tom MacDonald', 'Beyoncé', 'Harry Styles', 'Luke Combs', 'Cole Swindell', 'Sia', 'Lizzo', 'Birdy', 'OneRepublic', 'Morgan Wallen', 'Bailey Zimmerman', 'P!nk', 'Lizzo', 'j-hope', 'Miley Cyrus', 'Metallica', 'Kane Brown', 'Charlie Puth & Jung Kook', 'Nicky Youre & Dazy', 'Morgan Wallen', 'Lady Gaga', 'Calvin Harris, Justin Timberlake, Halsey & Pharrell Williams', 'Walker Hayes', 'Jack Harlow', 'Disturbed', "The B-52's", 'Post Malone', 'Jelly Roll', 'Carly Rae Jepsen', 'Lady Gaga', 'Walker Hayes', 'j-hope', 'Cardi B, Kanye West & Lil Durk', 'Joji', 'Latto & Mariah Carey', 'Cody Johnson', 'Jackson Dean', 'Bailey Zimmerman', 'Rick Astley', 'Pitbull & Zac Brown', 'Elton John & Dua Lipa', 'Marshmello & Khalid', 'Tyler Hubbard', 'Chris Stapleton', 'j-hope', 'Ellie Goulding', 'Harry Styles', 'j-hope', 'j-hope', 'Lizzo', 'j-hope', 'Katy Perry', 'Scotty McCreery', 'Doja Cat', 'Bruno Mars', 'Neil Diamond', 'j-hope', 'Tears for Fears', 'Jason Mraz', "Guns N' Roses", 'Shawn Mendes', 'Katy Perry', 'j-hope', 'Lukas Graham', 'Louyah', 'ABBA', 'Bruno Mars', 'Ed Sheeran', 'Journey & Steve Perry', 'Chris Stapleton', 'Tiësto & Ava Max', 'Zach Bryan', 'Bad Bunny', 'Sam Smith', 'Jax', 'j-hope', 'Devon Cole', 'Wilson Phillips', 'Russell Dickerson & Jake Scott', 'Ava Max', 'Morgan Wallen', 'Katy Perry', 'Zac Brown Band & Cody Johnson', 'Bruno Mars', 'Kenny Loggins', 'Parmalee', 'Loveless', 'Doja Cat', 'Glass Animals', 'Em Beihold', 'Dua Lipa', 'Latto', 'Lee Brice', 'GAYLE', 'Taylor Swift', 'Jordan Davis', 'Lady Gaga']

In [21]:
# each list becomes a column
songs = pd.DataFrame({"song":song,
                       "artist":artist
                      })
#we provide a dictionary where the key is the name of the column, and values are the values inside the column

In [23]:
songs.head(10)

                                     song         artist
0                         About Damn Time          Lizzo
1  Running Up That Hill (A Deal with God)      Kate Bush
2                              Y'all Life   Walker Hayes
3                                   Names  Tom MacDonald
4                           BREAK MY SOUL        Beyoncé
5                               As It Was   Harry Styles
6                The Kind of Love We Make     Luke Combs
7            She Had Me At Heads Carolina  Cole Swindell
8                             Unstoppable            Sia
9                         About Damn Time          Lizzo

In [24]:
len(songs)

100

In [60]:
!git add .

In [61]:
!git commit -m "Web Scraping Lab 1 Finalized"

[master 8e57a31] Web Scraping Lab 1 Finalized
 3 files changed, 7234 insertions(+), 540 deletions(-)
 create mode 100644 .ipynb_checkpoints/Web Scraping Single Page-checkpoint.ipynb

In [62]:
!git push

Counting objects: 5, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (5/5), done.
Writing objects: 100% (5/5), 199.23 KiB | 701.00 KiB/s, done.
Total 5 (delta 3), reused 0 (delta 0)
remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
To https://github.com/hollyjanedalton/lab-cleaning-numerical-categorical-data.git
   7b43721..8e57a31  master -> master

# Lab 2 | Web Scraping Multiple Pages

In [ ]:
#Lab 2

#expand the list by scraping the 100 top songs from a different website source, creating a diff dataframe
#be aware some websites are difficult to scrape, at least do one other website


#Practice web scraping section:
#just pick 2, one can be from wikipedia, don't have to do all 7

In [25]:
url_2 = "https://www.officialcharts.com/charts/singles-chart/"

In [26]:
response_2 = requests.get(url_2)

In [27]:
response_2.status_code

200

In [28]:
len(response_2.content)

452955

In [29]:
soup_1 = BeautifulSoup(response_2.content, "html.parser")

In [ ]:
soup_1

In [42]:
print(soup_1.select("div.title")[0].get_text())

AFRAID TO FEEL

In [43]:
print(soup_1.select("div.artist")[0].get_text())

LF SYSTEM

In [ ]:
title2=[]
artist2=[]

title_list2=soup1.select("div.title a")
artist_list2=soup1.select("div.artist a")


num_iter2 = len(soup1.select("div.artist a"))

for i in range(num_iter2):
    title2.append(title_list2[i].get_text())
    artist2.append(artist_list2[i].get_text())
    
print (title2)
print (artist2)

In [67]:
song_2 = []
artist_2 = []

song_list2 = soup_1.select("div.title a")
artist_list2 = soup_1.select("div.artist a")


num_iter2 = len(soup_1.select("div.title a"))


# iterate through the result set and retrive all the data
for i in range(num_iter2):
    song_2.append(song_list2[i].get_text())
    artist_2.append(artist_list2[i].get_text())


print(song_2)
print(artist_2)

['AFRAID TO FEEL', 'AS IT WAS', 'GREEN GREEN GRASS', 'BREAK MY SOUL', 'RUNNING UP THAT HILL', 'ABOUT DAMN TIME', 'LAST LAST', 'CRAZY WHAT LOVE CAN DO', 'IFTK', '21 REASONS', 'MASSIVE', 'WHERE DID YOU GO', 'LATE NIGHT TALKING', "I AIN'T WORRIED", 'SEVENTEEN GOING UNDER', 'GLIMPSE OF US', 'STAY THE NIGHT', 'WAIT FOR U', 'MUSIC FOR A SUSHI RESTAURANT', 'GO', 'NO EXCUSES', 'MASTER OF PUPPETS', 'JIMMY COOKS', 'POTION', 'VEGAS', 'BIG ENERGY', 'HOLD MY HAND', 'I LIKE YOU (A HAPPIER SONG)', 'HOT IN IT', 'FOR MY HAND', 'ELEGANT & GANG', "DON'T FORGET MY LOVE", 'HEAT WAVES', 'REMIND ME', 'BAD HABITS', 'PERU', '2STEP', 'IN THE STARS', 'SHIVERS', 'WHERE ARE YOU NOW', 'HAPPIER THAN EVER', 'FLOWERS', 'SUNROOF', 'MIXED EMOTIONS', 'RAINFALL', 'MAKE ME FEEL GOOD', 'CLOAK & DAGGER', 'BAM BAM', 'SOMETHING TO SOMEONE', "JE M'APPELLE", 'FIRST CLASS', 'STICKY', 'COLD HEART', 'FERRARI', 'BIG CITY LIFE', 'SPACE MAN', 'PART OF THE BAND', 'BABY', 'COOPED UP', 'STRANGERS', 'MR BRIGHTSIDE', "SHE'S ALL I WANNA BE", 'THROUGH THE ECHOES', 'STFU', 'DANDELIONS', 'LEFT AND RIGHT', 'SNAP', 'STARLIGHT', 'BAD HABIT', 'BRAZIL', 'BAD LIFE', 'LOOSE CHANGE', 'BETTY (GET MONEY)', 'HOUSE ON FIRE', 'ONE KISS', 'WORDS', 'GETTING STARTED', 'ANYONE FOR YOU', 'CALL ME EVERY DAY', 'WET DREAM', 'SHOTGUN', 'JUNGLE', 'STAY', 'SAVE YOUR TEARS', 'BMW', 'DOWN UNDER', 'HEAVEN TAKES YOU HOME', 'LEVITATING', 'BLINDING LIGHTS', "MAYBE YOU'RE THE PROBLEM", 'GOOD 4 U', 'I WILL SURVIVE', '1989', 'FINESSE', 'EVERYBODY WANTS TO RULE THE WORLD', 'ALL MINE', 'HATE IT OR LOVE IT', 'HOT S**T', 'SOMEONE YOU LOVED', 'RIPTIDE']
['LF SYSTEM', 'HARRY STYLES', 'GEORGE EZRA', 'BEYONCE', 'KATE BUSH', 'LIZZO', 'BURNA BOY', 'DAVID GUETTA/HILL/HENDERSON', 'TION WAYNE & LA ROUX', 'NATHAN DAWE FT ELLA HENDERSON', 'DRAKE', 'JAX JONES FT MNEK', 'HARRY STYLES', 'ONEREPUBLIC', 'SAM FENDER', 'JOJI', 'SIGALA & TALIA MAR', 'FUTURE FT DRAKE & TEMS', 'HARRY STYLES', 'CAT BURNS', 'BRU-C', 'METALLICA', 'DRAKE FT 21 SAVAGE', 'CALVIN HARRIS/DUA LIPA/YOUNG', 'DOJA CAT', 'LATTO/MARIAH CAREY/DJ KHALED', 'LADY GAGA', 'POST MALONE FT DOJA CAT', 'TIESTO & CHARLI XCX', 'BURNA BOY FT ED SHEERAN', 'D-BLOCK EUROPE/GHOST KILLER', 'DIPLO & MIGUEL', 'GLASS ANIMALS', 'TOM GRENNAN', 'ED SHEERAN', 'FIREBOY DML & ED SHEERAN', 'ED SHEERAN', 'BENSON BOONE', 'ED SHEERAN', 'LOST FREQUENCIES/CALUM SCOTT', 'BILLIE EILISH', 'LAUREN SPENCER-SMITH', 'NICKY YOURE & DAZY', 'CHASE & STATUS', 'TOM SANTA', 'BELTERS ONLY FT JAZZY', 'BURNA BOY FT J HUS', 'CAMILA CABELLO FT ED SHEERAN', 'DERMOT KENNEDY', 'BENZZ', 'JACK HARLOW', 'DRAKE', 'ELTON JOHN & DUA LIPA', 'JAMES HYPE/MIGGY DELA ROSA', 'LUUDE & MATTAFIX', 'SAM RYDER', '1975', 'AITCH/ASHANTI', 'POST MALONE FT RODDY RICCH', 'BRING ME THE HORIZON', 'KILLERS', 'TATE MCRAE', 'PAOLO NUTINI', 'DIGGA D', 'RUTH B', 'CHARLIE PUTH FT JUNG KOOK', 'ROSA LINN', 'DAVE', 'STEVE LACY', 'DECLAN MCKENNA', 'SIGRID & BRING ME THE HORIZON', 'BRENT FAIYAZ', 'YUNG GRAVY', 'MIMI WEBB', 'CALVIN HARRIS & DUA LIPA', 'ALESSO/ZARA LARSSON', 'SAM FENDER', 'GEORGE EZRA', 'CHRIS BROWN FT WIZKID', 'WET LEG', 'GEORGE EZRA', 'FRED AGAIN', 'KID LAROI & JUSTIN BIEBER', 'WEEKND', 'BAD BOY CHILLER CREW', 'LUUDE FT COLIN HAY', 'SWEDISH HOUSE MAFIA', 'DUA LIPA', 'WEEKND', 'AVA MAX', 'OLIVIA RODRIGO', 'BELTERS ONLY', 'AITCH', 'PHEELZ & BNXN', 'TEARS FOR FEARS', 'BRENT FAIYAZ', 'GAME FT 50 CENT', 'CARDI B/KANYE WEST/LIL DURK', 'LEWIS CAPALDI', 'VANCE JOY']

In [68]:
songs_2 = pd.DataFrame({"song":song_2,
                       "artist":artist_2
                      })

In [69]:
songs_2.head(20)

                            song                         artist
0                 AFRAID TO FEEL                      LF SYSTEM
1                      AS IT WAS                   HARRY STYLES
2              GREEN GREEN GRASS                    GEORGE EZRA
3                  BREAK MY SOUL                        BEYONCE
4           RUNNING UP THAT HILL                      KATE BUSH
5                ABOUT DAMN TIME                          LIZZO
6                      LAST LAST                      BURNA BOY
7         CRAZY WHAT LOVE CAN DO    DAVID GUETTA/HILL/HENDERSON
8                           IFTK           TION WAYNE & LA ROUX
9                     21 REASONS  NATHAN DAWE FT ELLA HENDERSON
10                       MASSIVE                          DRAKE
11              WHERE DID YOU GO              JAX JONES FT MNEK
12            LATE NIGHT TALKING                   HARRY STYLES
13               I AIN'T WORRIED                    ONEREPUBLIC
14         SEVENTEEN GOING UNDER                     SAM FENDER
15                 GLIMPSE OF US                           JOJI
16                STAY THE NIGHT             SIGALA & TALIA MAR
17                    WAIT FOR U         FUTURE FT DRAKE & TEMS
18  MUSIC FOR A SUSHI RESTAURANT                   HARRY STYLES
19                            GO                      CAT BURNS

### Practice web scraping

In [ ]:
#1 Create a Python list with the top ten FBI's Most Wanted names: 
#url = 'https://www.fbi.gov/wanted/topten'

In [73]:
!git add .

In [74]:
!git commit -m "Almost done Web Scraping labs"

[master e2e4dd1] Almost done Web Scraping labs
 2 files changed, 210 insertions(+), 70 deletions(-)

In [75]:
!git push

Counting objects: 4, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 1.21 KiB | 248.00 KiB/s, done.
Total 4 (delta 3), reused 0 (delta 0)
remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
To https://github.com/hollyjanedalton/lab-cleaning-numerical-categorical-data.git
   86f8bad..e2e4dd1  master -> master

In [76]:
url = "https://www.fbi.gov/wanted/topten"

In [77]:
response = requests.get(url)

In [78]:
response.status_code

200

In [79]:
len(response.content)

71502

In [80]:
soup = BeautifulSoup(response.content, "html.parser")

In [81]:
print(soup.select("h3.title a")[0].get_text())

JASON DEREK BROWN

In [84]:
fbi = []

mostwanted_list = soup.select("h3.title a")


num_iter = len(soup.select("h3.title a"))


# iterate through the result set and retrive all the data
for i in range(num_iter):
    fbi.append(mostwanted_list[i].get_text())


print(fbi)

['JASON DEREK BROWN', 'RUJA IGNATOVA', 'ARNOLDO JIMENEZ', 'ALEXIS FLORES', 'JOSE RODOLFO VILLARREAL-HERNANDEZ', 'YULAN ADONAY ARCHAGA CARIAS', 'RAFAEL CARO-QUINTERO', 'EUGENE PALMER', 'BHADRESHKUMAR CHETANBHAI PATEL', 'ALEJANDRO ROSALES CASTILLO']

In [85]:
criminals = pd.DataFrame({"criminal_name":fbi,
                      })
criminals

                       criminal_name
0                  JASON DEREK BROWN
1                      RUJA IGNATOVA
2                    ARNOLDO JIMENEZ
3                      ALEXIS FLORES
4  JOSE RODOLFO VILLARREAL-HERNANDEZ
5        YULAN ADONAY ARCHAGA CARIAS
6               RAFAEL CARO-QUINTERO
7                      EUGENE PALMER
8     BHADRESHKUMAR CHETANBHAI PATEL
9         ALEJANDRO ROSALES CASTILLO

In [ ]:
#2 Display the top 10 languages by number of native speakers stored in a pandas dataframe: 
#url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [86]:
url = "https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers"

In [87]:
response = requests.get(url)

In [88]:
response.status_code

200

In [89]:
len(response.content)

166010

In [90]:
soup = BeautifulSoup(response.content, "html.parser")

In [91]:
print(soup.select("td a")[0].get_text())

Mandarin Chinese

In [124]:
print(soup.select("td:nth-child(3)")[0].get_text())

#mw-content-text > div.mw-parser-output > table:nth-child(15) > tbody > tr:nth-child(1) > td:nth-child(3)

929.0

In [121]:
top10_languages = []
spkrs_millions = []

top10_languages_list = soup.select("td a")
spkrs_millions_list = soup.select("td:nth-child(3)")

num_iter = len(soup.select("td:nth-child(3)"))


# iterate through the result set and retrieve all the data
for i in range(num_iter):
    top10_languages.append(top10_languages_list[i].get_text())
    spkrs_millions.append(spkrs_millions_list[i].get_text())

top10 = top10_languages[:10]
speakers = spkrs_millions[:10]
print(top10)
print(speakers)

['Mandarin Chinese', 'Sino-Tibetan', 'Sinitic', 'Spanish', 'Indo-European', 'Romance', 'English', 'Indo-European', 'Germanic', 'Hindi']
['929.0\n', '474.7\n', '372.9\n', '343.9\n', '233.7\n', '232.4\n', '154.0\n', '125.3\n', '92.7\n', '85.2\n']

In [122]:
top_languages = pd.DataFrame({"language":top10,
                              "speakers (in millions)": speakers
                      })
top_languages

           language speakers (in millions)
0  Mandarin Chinese                929.0\n
1      Sino-Tibetan                474.7\n
2           Sinitic                372.9\n
3           Spanish                343.9\n
4     Indo-European                233.7\n
5           Romance                232.4\n
6           English                154.0\n
7     Indo-European                125.3\n
8          Germanic                 92.7\n
9             Hindi                 85.2\n

In [ ]:
##Why returning the \n??

In [ ]:
!git add .

In [ ]:
!git commit -m "Almost done Web Scraping labs"

In [ ]:
!git push